#loading, #results{
    display: none;
}

body{
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.heading{
    color: rgb(236, 236, 236);
    font-weight: 800;
}

.card{
    background: url(img/devil-boy-dark-art.jpg);
    background-position: center;
}